<?xml version="1.0"?>
<model>
  <name>blueview_p900_nps_multibeam_abs</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Unknown</name>
    <email>unknown@example.com</email>
  </author>
  <description>BlueView P900 model (absolute-path copy).</description>
</model>
